{% extends 'base.html' %}
{% block content %}

<h1>Vinyl Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ record.name }}</span>
    <p>Label: {{ record.label }}</p>
    <p>Style: {{ record.style }}</p>
    <p>Released: {{ record.released }}</p>
    <p>Country: {{ record.country }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'records_update' record.id %}">Edit</a>
    <a href="{% url 'records_delete' record.id %}">Delete</a>
  </div>
</div>

{% endblock %}